[submodule "server"]
	path = server
	url = https://github.com/LuaLS/lua-language-server
[submodule "client/3rd/vscode-lua-doc"]
	path = client/3rd/vscode-lua-doc
	url = https://github.com/LuaLS/vscode-lua-doc
[submodule "client/webvue"]
	path = client/webvue
	url = https://github.com/LuaLS/vscode-lua-webvue
