**/*

!client/node_modules
!client/out
!client/package.json
!client/3rd/vscode-lua-doc/doc
!client/3rd/vscode-lua-doc/extension.js
!client/webvue/build

!server/bin
!server/locale
!server/script
!server/main.lua
!server/main.lua
!server/debugger.lua
!server/changelog.md
!server/LICENSE
!server/meta/3rd
!server/meta/template
!server/meta/spell

!images/logo.png

!setting
!syntaxes
!package.json
!README.md
!changelog.md
!package.nls.json
!package.nls.*.json
!LICENSE
